body
{
overflow-x:hidden;
width:100%;
font: 15px "Century Gothic", "Times Roman", sans-serif;
background:#eee;
min-height:550px;
background-attachment:fixed;
}
.bg
{
min-height:540px;
}
.bg1
{
background:url(../image/background1.jpg);
min-height:535px;
}

@font-face {
   font-family: 'typo';
    src: url('../fonts/typo.ttf');
	}

@font-face {
   font-family: 'gothic';
    src: url('../fonts/gothics.ttf');
	}

.panel{
border-color:#eee;
margin:40px;
padding:20px;
font: 18px 'typo';
}

.title
{
font-family:'typo';
}

.header
{
background: #022534;
height:60px;
}
.logo
{
font-family:'typo';
font-size:25px;
color:#F8F8FF;
margin: 20px;
}

.title1{
font: 16px 'typo';
color:#2F2F4F;
}
.title2{
font-family: 'Ubuntu', sans-serif;
font-size:20px;
color: #2F2F4F;
}


.sub1
{
width:90px;
background:#9acd32;
font-size:15px;
height:35px;
margin:20px;
padding:10px;
width:100px;
}


.sub
{
width:100%;
background-color:#9acd32;
border: #3A66A7;
font-size:20px;
color: #F8F8FF;
border-radius: 8px;
padding:3px;
margin-top:15px;
margin-right:15px;
}
.sub:hover
{
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.footer
{
font-size:15px;
text-align:center;
border-top:1px solid;
border-color:#323232;
background-color:#022534;
}
.footer a
{
margin:20px;
color:#F8F8FF;
text-decoration:none;
font: 18px 'typo';

}
.footer a:hover
{
text-decoration:none;
color:#9acd32;
border-top:1px solid;
border-color:#F8F8FF;

}

.box
{
padding:9px;
}
hr{
color:#000000;
}
.top
{
margin-top:20px;
}
.log1
{
font: 18px 'typo';
color:#F8F8FF;
margin-left:10px;
}

.log
{
margin:10px;
margin-right:60px;
margin-left:5px;
color:#F8F8FF;
text-decoration:none;
font-size:20px;
font-size:15px;
}
.log:hover
{
color:#9acd32;
border-top:2px solid;
border-color:#F8F8FF;
text-decoration:none;
}
